// Configuration for io_module

io_module = {
  path = [];
  name = "forwarder_module";
};

forwarder = {
  n_threads = 1;
  
  listeners = {
    l0 = {
      local_address = "127.0.0.1";
      local_port = 33436;
    }
  };

  connectors = {
    c0 = {
      /* local_address and local_port are optional */
      local_address = "127.0.0.1";
      local_port = 33436;
      remote_address = "10.20.30.40";
      remote_port = 33436;
    }
  };
};