pip-tools==6.5.0                        # BSD
sphinx                                  # BSD
sphinx-rtd-theme                        # MIT
sphinx-markdown-tables                  # GPLv3
recommonmark                            # MIT