# Copyright (c) 2021 Cisco and/or its affiliates.
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at:
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

[Unit]
Description=hicn-light is the cisco hicn socket based forwarder.
#Documentation=man:hicn-light-forwarder

[Service]
Environment=PORT=9695
Environment=LOG_FILE=/tmp/hicn_light.log
Environment=CS_SIZE=1000
Environment=CONFIG=/etc/hicn/hicn_light.conf
# This will overrride the default environment
EnvironmentFile=-/etc/default/hicn-light
ExecStart=/usr/bin/hicn-light-daemon --port ${PORT} --log-file ${LOG_FILE} --capacity ${CS_SIZE} --config ${CONFIG}
Restart=on-failure

[Install]
WantedBy=multi-user.target
